<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>{{name}}</h2>
<h2>{{name | lowercase}}</h2> <!-- გადაყავს პატარა ასოებში -->
<h2>{{name | uppercase}}</h2><!-- გადაყავს დიდ ასოებში -->
<h2>{{message | titlecase}}</h2><!-- ყველა სიტყვას იწყებს დიდი ასოთი -->
<h2>{{name | slice:3}}</h2><!-- გამოაქვს მხოლოდ მითითებულ ინდექზე მდგარი ასოდა მომდევნო ასოები -->
<h2>{{name | slice:1:4}}</h2><!-- გამოაქვს მხოლოდ მითითებულინდექზე და ბოლო ინდექსამდე ასოები -->
 <h2>{{ person | json }}</h2> <!--გამოაქვს მთლიანი ობიექტი -->

 <h2>{{5.678 |  number:'1.2-3'}}</h2> <!--1 არის მთელის რაოდენობა
    .2-3 მინიმალური და მაქსიმალური რაოდენობა. პასუხი არის   5.678  -->
 <h2>{{5.678 |  number:'3.4-7'}}</h2> <!-- 005.6780 -->
 <h2>{{5.678 |   number:'3.1-2'}}</h2>  <!--005.68-->

 <h2>{{ 0.05 | percent}}</h2> <!-- ამრავლებს ასზე და უწერს პროცენტის ნიშანს 5%-->
 <h2>{{ 0.25 | currency:'  &#8358; &#8364; ' }}</h2>
 <h2>{{ 0.25 | currency }}</h2><!-- გამოაქვს სხვადასხვა ქვეყნის კურსის ნიშანი-->
 <h2>{{ 0.25 | currency:'EUR':'code' }}</h2><!--გამოაქვს სიმბოლო EUR  0.25-->

 <h2> {{date }}</h2><!-- გამოაქვს დროის ფორმატი სრულად -->
 <h2> {{date | date:'short'}}</h2><!-- გამოაქვს დროის ფორმატი მიკლე ცანაწერით-->
 <h2>{{ date | date:'shortDate'}}</h2><!-- გამოაქვს მხოლოდ წელი თვე და რიცხვი-->
 <h2>{{ date | date:'shortTime'}}</h2><!-- გამოაქვს მხოლოდ სათი-->


</body>
</html>

